input[type=button] {                   
    background-color: #209124;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 48px;
}
body {
    background-image: url(/Images\ &\ Vid/HB.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text {
    margin-right: 0;
    margin-left: 0;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.644);
    border: 3px solid black;
    border-radius: 30px;
}
.t {
    padding: 10px;
    color: rgba(255, 255, 255, 0.856);
    background-color: #065f0981;
    border: none;
    border-radius: 30px;
}